PORT=3334
API_URL=http://192.168.100.36:3333
# API_URL=https://api.locum.ml

GOOGLE_MAPS_API_KEY=AIzaSyANBtJRs_oUvlklL4_Occ2X8cboNQhw-x4

# ONE SIGNAL LIVE
# ONE_SIGNAL_APP_ID=e715d7c7-8623-4d2e-bf87-f95121560c10
# ONE_SIGNAL_APP_ID_ADMIN=f00eaedf-3bfc-4b81-b83a-ebad79a1b8ee

# ONE SIGNAL LOCAL
ONE_SIGNAL_APP_ID=9533ce7a-4078-49d4-9c40-78a8eaf5165c
ONE_SIGNAL_APP_ID_ADMIN=9533ce7a-4078-49d4-9c40-78a8eaf5165c