PORT=3334
API_URL=http://localhost:3333
# API_URL=https://api.locum.ml

GOOGLE_MAPS_API_KEY=AIzaSyANBtJRs_oUvlklL4_Occ2X8cboNQhw-x4

# ONE SIGNAL LIVE
# ONE_SIGNAL_APP_ID=e715d7c7-8623-4d2e-bf87-f95121560c10

# ONE SIGNAL LOCAL
ONE_SIGNAL_APP_ID=b548fa95-e62a-4302-93dc-31e004eda81e