* {
  font-family: "Nunito", sans-serif;
}
/* body{
  text-decoration: none;
}

.page-enter {
  transform: translateX(120px);
  opacity: 0;
}

.page-enter-active {
  transition: 0.8s ease;
}

.subpage-enter {
  transform: translateX(120px);
  opacity: 0;
}

.subpage-enter-active {
  transition: 0.8s ease;
}

.page-leave {
  transform: translateX(120px);
  opacity: 0;
}

.page-leave-active {
  transition: 0.8s ease;
}

.subpage-leave {
  transform: translateX(120px);
  opacity: 0;
}

.subpage-leave-active {
  transition: 0.8s ease;
} */

* {
  font-family: "Nunito", sans-serif;
}

.__jobs-section {
  position: relative;
  min-height: 500px;
}

.__job-card:hover {
  background-color: #b8c2cc;
  transition: background-color 0.5s ease-in-out;
}
.__job-card {
  background-color: #8795a1;
  transition: background-color 0.5s ease-in-out;
}
a {
  text-decoration: none;
  color: black;
}
button:focus {
  outline: none;
}
table {
  width: 920px;
}
table thead th {
  padding: 15px;
}
table tbody td {
  padding: 15px;
}

.loader {
  background-color: #edf2f7;
  opacity: 0.5;
}
.loader-message:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

/* modal */
.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s;
}
.slide-enter,
.slide-leave-active {
  transform: translateX(100px);
  opacity: 0;
}
/* confirmation */
.drop-enter-active,
.drop-leave-active {
  transition: all 0.5s;
}
.drop-enter,
.drop-leave-active {
  transform: translateY(-100px);
  opacity: 0;
}
/* tabs */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* toggle */
.drop-down-enter-active,
.drop-down-leave-active {
  transition: all 0.5s;
}

.drop-down-enter,
.drop-down-leave-active {
  transform: translateY(-5px);
  opacity: 0;
}

/* page */
.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.page-enter,
.page-leave-active {
  transform: translateX(100px);
  opacity: 0;
}
/* remove */
.shield-enter-active,
.shield-leave-active {
  transition: all 0.5s;
}
.shield-enter,
.shield-leave-active {
  display: none;
}
/*========SCROLLBAR========*/
@media screen and (min-width: 768px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #505561;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-track:hover {
    background: #5b616e;
    border-radius: 3px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(116, 122, 139);
    border-radius: 3px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7b8396;
  }
}
/*===========TOOLTIP=========*/
.tool {
  cursor: help;
  position: relative;
}
.tool::before,
.tool::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}

.tool::before {
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
  bottom: 100%;
  content: "";
  margin-left: -0.5em;
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26),
    opacity 0.65s 0.5s;
  transform: scale(0.6) translateY(-90%);
}

.tool:hover::before,
.tool:focus::before {
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
}

/*== speech bubble ==*/
.tool::after {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  bottom: 175%;
  color: #edeff0;
  content: attr(data-tip);
  margin-left: -8.75em;
  padding: 1em;
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
  transform: scale(0.6) translateY(50%);
  width: 17.5em;
}

.tool:hover::after,
.tool:focus::after {
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26);
}

@media (max-width: 760px) {
  .tool::after {
    font-size: 0.75em;
    margin-left: -5em;
    width: 10em;
  }
}

/* quill editor */
.ql-editor {
  max-height: 100vh;
  overflow-y: auto;
}
.ql-toolbar.ql-snow {
  display: flex;
  flex-wrap: wrap;
}

.ql-toolbar.ql-snow .ql-formats {
  display: flex;
  background: #eee;
  margin: 4px 3px !important;
}

@media screen and (max-width: 767px) {
  /* quill editor */
  .ql-container.ql-snow .ql-editor {
    padding: 8px;
  }
}

/* Customized Checkbox */
/* To use, just add customize-select class to the wrapper */
.customized-select {
  position: relative;
}

.customized-select input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.customized-select input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.customized-select input[type="checkbox"] + label::before {
  content: "";
  margin: 0 10px auto auto;
  display: inline-block;
  vertical-align: text-top;
  width: 18px;
  height: 18px;
  background: #eee;
}

.customized-select input[type="checkbox"]:checked + label:before {
  background: #e7bf2d;
}

.customized-select input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 8px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
